.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 0 45px 0;

    & .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}